#game{
	padding: 1rem;
}
#nameandbutton{
	padding: 0.5rem 0;
	display: flex;
	justify-content: space-between;
}
#followbutton{
	max-height: 3rem;
	color: black;
}
#infowithimage>img{
	width: min(50%,20rem);
	margin:0 0.5rem 0.5rem 0;
	float: left;
	z-index: 1;
	border: 2px solid #fff6;
}
#info{
	display: block;
}
#info>div{
	padding:0.5rem 0.5rem 0.5rem 0;
	border-bottom: 1px solid white;
}
#info>div>span{
	text-decoration: underline dashed 1px white;
	font-weight: bold;
	
}
#info>div:not(:last-child){
	display: flex;
	justify-content: space-between;
}
#description{
	text-align: justify;
}
#description>span{
	display: block;
	text-align: justify;
}

#infowithimage{
	background-color: #fff3;
}