.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.form section{
	width: 50%;
	align-items: center;
}
.form section>input{
	background-color: #fff1;
	outline: 1px solid white;
	padding: 0.4rem;
	border-radius: 0.25rem;
	color: white;
	border: none;
	width: 100%;
	font-size: 1rem;
}
.form section>input:focus{
	outline: 2px orange solid;
}
#buttonsection{
	display: flex;
	justify-content: space-between;
}

#rbutton{
	border: 1px white solid;
	background-color: #fff5;
	border-radius: 0.25rem;
	color: white;
	padding: 0.4rem;
}